body{
    margin: 0;
    font-family: SupercellText-Medium, Helvetica, Arial, sans-serif;
}

#main{
    width: 100%;
    display: flex;
    flex-direction: column;
}


a{
    text-decoration: none;
}

#head{
    position: relative;
}

#head-img {
    width: 100%;
    height: 590px;
    object-fit: cover;
    object-position: 10% 50%;
    position: relative;
    top: 0;
    left: 0;
}

#name-img{
    width: 300px;
    position: absolute;
    top: 20%;
    left: 40%;
}

#menu-bar{
    width: 80%;
    height: 78px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 10%;
    z-index: 10;
}



#logo{
    padding-top: 16.5px;
    padding-left: 16.5px;
    width: 75px;
    float: left;
}

#logo img, #logo-footer img{
    height: 45px;
}

#txt-part{
    width: 1123px;
    height: 78px;
    float: left;
    display: flex;
    justify-content: space-between;
}

#menu-part{
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#menu-part a{
    color: rgb(181, 181, 181);
    font-size: 15px;
    font-weight: 700;
}

#games, #careers, #support, #about-us{
    height: 78px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop-down{
    width: 80%;
    height: 78px;
    background-color: black;
    opacity: 0.8;
    position: fixed;
    color: gray;
    font-weight: bold;
    font-size: medium;
    top: 78px;
    left: 10%;
    display: none;
}

#games:hover + .drop-down, 
#careers:hover + .drop-down,
#support:hover + .drop-down,
#about-us:hover + .drop-down,
.drop-down:hover{
    display: block;
}


#menu-part ul{
    justify-content: flex-start;
    
}
#menu-part li{
    padding-right: 20px;
    margin-top: -10px;
}

#games + div li:nth-of-type(5){
    color: white;
}

#menu-part li:hover{
    color: white;
}

#icons{
    width: 320px;
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

#icons img{
    height: 30px;
}

#phone-part-1, #phone-part-2{
    height: 500px;
    display: flex;
}

.phone-img{
    height: 460px;

}

#phone-part-1>img{
    margin-top: 76px;
    margin-left: -261px;
}

.content{
    width: 38%;
    height: 460px;
    margin-left: 100px;
    margin-top: 120px;
}

.head-1{
    font-weight: bold;
    font-size: 34px;
    line-height: 1.25;
    letter-spacing: -.025em;
    text-transform: uppercase;
}

p{
    font-size: 18px;
    line-height: 1.56;
}


#dnld-link img, #store-link img{
    height: 50px;
    margin-right: 10px;
    margin-top: 20px;
}

#news-section{
    width: 74%;
    height: 600px;
    margin-left: 199px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#video-section{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container{
    width: 550px;
    margin-right: 20px;
}

#news-section>div:first-child+div, #dnld-link{
    display: flex;
}

#video-section>div:first-child{
    display: flex;
}

.container .play-button{
    width: 100px;
    position: relative;
    top: -300px;
    left: 225px;
}

.description{
    margin-top: -6px;
}

.description .footnote{
    margin-left: 30px;
    font-size: 15px;
    color: #2d85f3;
}

.container:hover .footnote{
    color: black;
}

.description{
    height: 80px;
    padding-top:  10px;
    box-shadow: #cecbcb 1px 0px 7px 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description p{
    display: block;
}

.description img{
    height: 30px;
    width: 100px;
    margin-right: 30px;
}

.container>a>img{
    width: 550px;
    margin-right: 20px;
    position: relative;
    z-index: 2;
}


.container span{
    display: block;
}

.head-3{
    font-weight: bold;
    color: #fb4a9d;
    text-align: center;
}

.head-4{
    font-size: 20px;
    font-weight: 550;
    text-align: center;
    color: black;
    text-decoration: none;
}

#button{
    margin-top: 20px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    background-color: #2d85f3;
    border: none;
    height: 45px;
    width: 210px;
    border-radius: 8px;
    cursor: pointer;
}

#phone-part-2{
    width: 100%;
    height: 580px;
}

#phone-part-2 .content{
    position: absolute;
}
#phone-2-bg{
    position: absolute;
    margin-top: 20px;
    height: 580px;
    left: -190px;
    object-fit: cover;
}

#phone-2-txt{
    position: relative;
    color: white;
    margin-top: 50px;
    margin-left: 50px;
}

.head-2{
    font-size: 13px;
    font-weight: bold;
}

#phone-img-2{
    position: relative;
    left: 928px;
    top: 75px;
}

#social-media{
    position: relative;
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 50px;
}

.social-icon{
    height: 25px;
}


.play-button{
    width: 100px;
    z-index: 5;
    position: ;
    top: -100px;
    left: 100px;
}

#buttons{
    margin: 70px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#buttons button{
    margin-right: 15px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: none;
    background-color: rgb(188, 185, 185);
    cursor: pointer;
}


#buttons button:first-of-type{
    background-color: #2887f0;
}


#blue-section{
    width: 100%;
    height: 180px;
    background-image: linear-gradient(180deg, #245fc6 1%, #2887f0);
    color: white;
    display: flex;
}

#txt-blue-section{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#blue-button{
    background-color: white;
    border: none;
    width: 190px;
    height: 40px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 8px;
    margin-top: -10px;
    cursor: pointer;
}

#blue-pic{
    height: 230px;
    margin-top: -50px;
}

#footer{
    width: 100%;
    height: 440px;
    background-color: black;
}

#footer-content{
    color: white;
    margin-left: 244px;
    margin-top: 30px;
    width: 70%;
}

#footer-media-icons{
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#social-media-menu{
    display: flex;
    justify-content: space-between;
}

#line{
    margin-top: 40px;
    border-color: rgb(82, 78, 78);
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    margin-top: 40px;
}

ul a{
    color: white;
}


#address{
width: 125px;
line-height: 1.75;
color: #797777;
}

#footer-address{
    display: flex;
    justify-content: space-between;
}

#logo-footer{
    margin-top: 50px;
}


