body{
    margin: 0;
}

#main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#head{
    position: relative;
}

#head-img {
    width: 100%;
    height: 590px;
    object-fit: cover;
    object-position: 10% 50%;
    position: relative;
    top: 0;
    left: 0;
}

#name-img{
    width: 300px;
    position: absolute;
    top: 20%;
    left: 40%;
}

#menu-bar{
    width: 80%;
    height: 78px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 10%;
    z-index: 10;
}

#logo{
    padding-top: 16.5px;
    padding-left: 16.5px;
    width: 75px;
    float: left;
}

#logo-img{
    height: 45px;
}

#txt-part{
    width: 1123px;
    height: 78px;
    float: left;
    display: flex;
    justify-content: space-between;
}

#menu-part{
    width: 400px;
    height: 100%;
    padding-top: 28px;
    display: flex;
    justify-content: space-around;
}

.menu{
    color: rgb(181, 181, 181);
    text-decoration: none;
    font-family: SupercellText-Medium, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.menu:hover{
    color: white;
}

#icons{
    width: 320px;
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;

}

.icon{
    height: 30px;
}

.phone-img{
    height: 460px;
    float: left;
}

#phone-img-1{
    margin-top: 76px;
    margin-left: -261px;
}

.content{
    width: 38%;
    height: 460px;
    float: left;
    margin-left: 100px;
    margin-top: 120px;
}

.head-txt{
    font-family: SupercellHeadline-Heavy, sans-serif;
    font-weight: bold;
    font-size: 34px;
    line-height: 1.25;
    letter-spacing: -.025em;
}

.content-txt{
    font-family: SupercellHeadline-Heavy, sans-serif;
    font-size: 18px;
    line-height: 1.56;
}

#dnld-link{
    display: flex;
}

.link-img{
    height: 50px;
    margin-right: 10px;
    margin-top: 20px;
}

#news-section{
    width: 74%;
    height: 600px;
    float: left;
    margin-left: 199px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    width: 550px;
    margin-right: 20px;
}

#news{
    display: flex;
}

.news-pic{
    width: 550px;
    margin-right: 20px;
}

.clash-of-clans{
    font-family: SupercellText-Bold,Helvetica,Arial,sans-serif;
    font-weight: bold;
    color: #fb4a9d;
    text-align: center;
}

.news-title{
    font-family: SupercellText-Bold,Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 550;
    text-align: center;
    color: black;
    text-decoration: none;
}

#button{
    margin-top: 20px;
    font-family: SupercellText-Bold,Helvetica,Arial,sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    background-color: #2d85f3;
    border: none;
    height: 45px;
    width: 210px;
    border-radius: 8px;
    cursor: pointer;
}

#phone-2-bg{
    position: absolute;
    margin-top: 20px;
    height: 580px;
    left: -190px;
}

#phone-2-txt{
    position: relative;
    color: white;
    margin-top: 50px;
    margin-left: 50px;
}

#follow-head{
    font-family: SupercellText-Bold, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
}

#phone-img-2{
    position: relative;
    left: 928px;
    top: -502px;
}

.phone-part{
    height: 500px;
}
#social-media{
    position: relative;
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 50px;
}

.social-icon{
    height: 25px;
}